{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
<<<<<<< HEAD
<<<<<<< HEAD

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.name) }}
=======
>>>>>>> page web heberge
=======
>>>>>>> 176c0d76db21da175b8eb3e636f8f8ba278e5040
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
