{% extends 'base.html.twig' %}


{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
{{parent()}}

{% endblock %}

{% block body %}

<div class="" id="first-page"> 
    <div id="first-page-left">
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <h1>Tout ce dont vous avez besoin pour créer un site web </h1>
        {% else %}
        <h1>Tout ce dont vous avez besoin pour créer un site web {{app.user.name}} </h1>

        {% endif %}
        <p class="mt-3">Jusqu'à <span>- 50 % </span>sur nos plans d’hébergement avec le code <a href="#"><span>%YOUR_HEBERGE%</span></a></p>

        <p id="first-page-price"><span>2.99€</span>/mois</p>
        
        <p style="text-transform: uppercase;">+ 1 mois totalement <span> gratuit</span> !!</p>
     
        <button>PROFITER DE L'OFFRE</button>
        <p style="margin-top: 10px;">Garantie de remboursement de 30 jours</p>
    </div>

    <div id="first-page-right">
        <img style="max-width: 900px;" src="/yourheberge/public/images/presentation-page-1.jpg" alt="">
    </div>

</div>

<h1 class="text-center text-primary mt-4 pt-4 display-4 fw-bold">Quelques avis</h1> 
<section  class="d-flex flex-wrap">

  {% for i in avis|slice(0, 3) %}


        
          <div class="m-5 row mx-auto text-center d-flex align-items-stretch">
            <div style="width: 500px;" class="col-md-4 mb-5 mb-md-0 d-flex  align-items-stretch">
              <div class="card testimonial-card">
                <div class="card-up" style="background-color: #9d789b;"></div>
           
                <div style="width: 500px;" class="card-body">
                  <h4 class="mb-4">{{i.name}}</h4>
                  <hr />
                  <p>{{i.note}} / 5</p>
                  <p class="dark-grey-text mt-4">
                    <i class="fas fa-quote-left pe-2"></i>{{i.commentaire}}
                  </p>
                </div>
              </div>
            </div>
            
            </div>
           
          </div>

       

          

  {% endfor %}
</section>







<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

  <section class="">
  <!-- Footer -->
  <footer class="text-center text-dark" style="background-color: #ffffff;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">
            Inscription gratuite : </span>
         <a href="{{path('app_register')}}"> <button  type="button" class="btn btn-outline-dark btn-rounded">
            Inscrivez-vous !
          </button></a>
        </p>
      </section>
      <!-- Section: CTA -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(255, 255, 255, 0.2);">
      © 2023 Copyright:
      <a class="text-dark" href="https://s3-4683.nuage-peda.fr/yourheberge/public/">YourHeberge.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</section>
  
</div>
<!-- End of .container -->
{% endblock %}

