{% extends 'base.html.twig' %}


{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
{{parent()}}

{% endblock %}

{% block body %}


<h1 class="text-center">ADMIN WEB</h1>

<h3 style="margin-top:150px; margin-left:7%">Vos hebergements web dispo : </h3>
<a style="margin-left: 7%; margin-top:10px" href="{{path('Ajout-web')}}" class=" text-center btn btn-success">Ajouter un hebergement web</a>
<div style="margin-top:150px" id="container-web-card">
  
    {% for i in webHeberge %}
    
    <div class="card " style="width: 20rem; height: 240px; margin-bottom: 150px; ">
        <div id="card-web d-flex flex-wrap" class="card-body">
          <h5 class="text-center card-title">Option {{i.name}}</h5>
          <ul >
              <li>prix : {{i.price}} €</li>
              <li>Stockage : {{i.stockage}} GO (SSD)</li>
              <li>Compte sous-domaine : 5</li>
              <li>Mail : {{i.mail}}</li>
              <li>Livraison : 60s</li>
              <li>En stock : {{i.stock}}</li>
          </ul>
     
             </div>
             <a href="{{path('gestion-web-modif',{id:i.id})}}" class="text-center btn btn-primary">Modifier</a>
             <a href="{{path('suppWeb',{'id':i.id})}}" class=" text-center btn btn-danger">supprimer</a>
             
            </div>
       
    
    {% endfor %}
       </div>

{% endblock %}

