{% extends 'base.html.twig' %} {% block title %}Accueil {% endblock %} {% block
stylesheets %}
{{ parent() }}

{% endblock %} {% block body %}

<div id="achat">
  <div id="head">
    <ul class="d-flex mt-3">
      <i style="font-size: 22px ;" class="bi bi-1-circle"></i>
      <li
        style="margin-left: 5px; font-size: 22px; color: #da2372"
        class="list-unstyled class ml-5"
      >
        Choisissez une période
        <span></span>
      </li>
      <i style="font-size: 22px" class="bi bi-2-circle-fill"></i>
      <li
        style="margin-left: 5px; font-size: 22px"
        class="list-unstyled class ml-5"
      >
        Adresse de paiement
        <span></span>
      </li>
      <i style="font-size: 22px" class="bi bi-3-circle-fill"></i>
      <li
        style="margin-left: 5px; font-size: 22px"
        class="list-unstyled class ml-5"
      >
        Valider la commande
      </li>
    </ul>
  </div>
  <h1 style="margin-top: 25px; color: #da2372; text-align: left">
    Vous y êtes presque ! Complétez votre commande
  </h1>
  <h3 class="mt-3">Plan sélectionné : {{ webHebergeListe.name }}</h3>
  <h1 class="mt-5">1. Periode </h1>

  <div class="card-time">



  <ul id="period" class="d-flex flex-wrap">
    <li>
      <h5 style="text-align: center" class="mt-3">1mois</h5>
      <h1>{{webHebergeListe.price}} €</h1>
      <p>EUR / MOIS</p>
      <p>Sans Engagment</p>
  
    </li>
    <li>
        <h5 style="text-align: center" class="mt-3">3mois</h5>
        <h1>{{webHebergeListe.price * 2 |round(1)  }} €</h1>
        <p>EUR / MOIS</p>
        <p>Sans Engagment</p>
    </li>
    <li>
        <h5 style="text-align: center" class="mt-3">6mois</h5>
        <h1>{{webHebergeListe.price * 4 | round(2)  }} €</h1>
        <p>EUR / MOIS</p>
        <p>Sans Engagment</p>
    </li>
    <li>
        <h5 style="text-align: center" class="mt-3">12mois</h5>
        <h1>{{webHebergeListe.price * 8 | round(2) }} €</h1>
        <p>EUR / MOIS</p>
        <p>Sans Engagment</p>
    </li>
  </ul>
</div>
</div>

{% endblock %}
