{% extends 'base.html.twig' %}


{% block title %}Accueil
{% endblock %}

{% block stylesheets %}
{{parent()}}

{% endblock %}

{% block body %}


<img style="display:block  ; margin-left: auto; margin-right: auto; width: 800px; height: 533px" src="/yourheberge/public/images/back-web.png">
<h2 style="margin-bottom: 20px;">Nos Web-hebergement : </h2>
<div id="container-web-card">
    

{% for i in webHeberge %}
<div id="king" class="d-flex">
<div class="card " style="width: 20rem; height: 280px">
    <div id="card-web d-flex" class="card-body">
      <h5 class="text-center card-title">Option {{i.name}}</h5>
      <ul >
          <li>prix : {{i.price}} €</li>
          <li>Stockage : {{i.stockage}} GO (SSD)</li>
          <li>Compte sous-domaine : </li>
          <li>Mail : {{i.mail}}</li>
          <li>Livraison : 60s</li>
      </ul>
      <a href="#" class="text-center btn btn-primary">Commander</a>
         </div>
        </div>
    </div>

{% endfor %}

{% endblock %}

